<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/andy-bell-reset_2020-11-06.css">
    <link rel="stylesheet" href="/css/every-layout.css">
    <link rel="stylesheet" href="/css/mine.css">
    <link rel="stylesheet" href="/css/prism-tomorrow-night.css">
  </head>
  <body class="stack center">
    <header>
      <nav class="cluster">
        <ul>
          {% for item in nav.items %}
            <li>
              <a href="{{ item.url }}">{{ item.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <main>
      {% block main %}{% endblock %}
    </main>
    <footer>
      Copyright
      {{ vars.currentYear() }}
      Gregory Sheppard
    </footer>
    {% if dataDump %}
      <h1>Data Dump!</h1>
      {{ collections.all | gregFilter }}
      {{ collections.all | serializePosts }}
      {{ collections.all | eleventyNavigation | dump | safe }}
    {% endif %}
  </body>
</html>