{% extends "layouts/base.njk" %}

{% block main %}
  <article class="stack">
    <h1>{{ title }}</h1>
    {{ page.date.toISOString() | replace(r/T.*/, '') }}
    {{ content | safe }}
  </article>
{% endblock %}