:root {
  /* https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
  /* https://css-tricks.com/snippets/css/system-font-stack/ */
  /* https://markdotto.com/2018/02/07/github-system-fonts/#the-stack */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* https://www.digitalocean.com/community/tutorials/css-system-font-stack */
code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: blueviolet; */
}

body > * {
  /* outline: 1px solid grey; */
}

body > header {
  flex: 0 0 auto;
}

body > main {
  flex: 1 1 auto;
}

body > footer {
  flex: 0 0 auto;
}

main > ul,
nav > ul {
  list-style: none;
  padding: 0;
}
